[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: rgb(25, 118, 210);
  --amplify-components-button-primary-active-background-color: rgb(
    25,
    118,
    210
  );
  --amplify-components-button-primary-visited-background-color: rgb(
    25,
    118,
    210
  );
  --amplify-components-button-primary-focus-background-color: rgb(25, 118, 210);
  --amplify-components-button-primary-hover-background-color: RGB(35, 138, 230);
  --amplify-components-button-link-color: rgb(25, 118, 210);
  --amplify-components-button-link-active-color: RGB(35, 138, 230);
  --amplify-components-button-link-hover-background-color: rgba(
    25,
    118,
    210,
    0
  );
}
